script(src='https://www.google.com/recaptcha/api.js')
script function captchaDone(response) { $("#gettz").prop('disabled',false); $("#gettz").addClass('btn-b'); }
script function submited() { $("#gettz").prop('disabled',true); $("#gettz").removeClass('btn-b'); }


form(method='POST', action='.', onsubmit="submited()")
  div
    button.smooth.btn(id="gettz" style='display: block; margin: 0 auto; width: 304px;',disabled=true) Get alphanet ꜩ
    br
    != recaptcha_form
